/* Main Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Offers Section */
.offers {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    padding: 20px;
    border-radius: 8px;
}

/* Offers Left */
.offers-left {
    flex: 1;
    text-align: left;
}

.offers-left h1 {
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 10px;
}

.offers-left p {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
}

.offers-left button {
    background-color: #D14D72;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.offers-left button:hover {
    background-color: #9e3b5e;
}

/* Offers Right */
.offers-right img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
