.listproduct {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .listproduct h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .listproduct p {
    margin: 0;
  }
  
  .listproduct-format-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #555;
  }

  
  .listproduct-allproduct {
    margin-top: 20px;
    
  }
  
  .listproduct-product {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #333;
  }
  
  .listproduct-product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .listproduct-remove-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .listproduct-remove-icon:hover {
    transform: scale(1.2);
  }
  