/* Popular Container */
.popular {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.popular h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.popular hr {
    width: 50px;
    border: 2px solid #D14D72; /* Horizontal line color */
    margin: 0 auto 20px auto;
}

/* Popular Items */
.popular-items {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}
